<% if @snippet.errors.any? %>
    <ul>
    <% @snippet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%# form_for :snippet, url: snippet_path(@snippet), method: :patch do |f| %>
<%= form_for @snippet do |f| %>

<table>
  <tr>
    <th>
      <%= f.label :category %>
    </th>
    <th>
      <%= f.label :title %>
    </th>
    <th>
      <%= f.label :code %>
    </th>
  </tr>

  <tr>
    <td><%= f.collection_select :category_id, Category.all, :id, :name %></td>
    <td><%= f.text_field :title %></td>
    <td><%= f.text_area :code %></td>
    <td><%= f.submit 'Save' %></td>
  </tr>
</table>
</tr>
<% end %>
