
<h2>Your <%= @snippet.category.name %> Snippet</h2>
<br>
<div class="snippet-title">
  <%= @snippet.title %>
</div>
<div class="code">
  <%= markdown(@snippet.code) %>
</div>
<br>
<%= link_to 'Edit Snippet', edit_snippet_path(@snippet) %> |
<%= link_to 'Delete Snippet', snippet_path, method: :delete %>
