<h1><%= @question.title %></h1>

<p><%= @question.body %></p>

<p>Created On: <%= formatted_date(@question.created_at) %></p>

<p>Liked <%= @question.likes.count %> times</p>

<% if @question.liked_by?(current_user) %>
  <%= link_to "Un-Like", question_like_path(@question, @like), method: :delete %>
<% else %>
  <%#= button_to "Like", question_likes_path(@question) %>
  <%# if you use button_to then you don't need to have method: :post because that  %>
  <%# is the default as it create a form  %>
  <%= link_to "Like", question_likes_path(@question), method: :post %>
<% end %>

<%# can? is method defined by the CanCanCan gem and it returns true or false  %>
<%# based on the rules defined in app/models/ability.rb  %>
<%# we have defined the following in our ability.rb:
    can :manage, Question do |question|
      question.user == user
    end
%>
<%# and :manage includes all actions so :edit and :destroy are included  %>
<% if can?(:manage, @question) %>
  <%= link_to "Edit", edit_question_path(@question) %>
  <%= link_to "Delete", question_path(@question),
                method: :delete, data: {confirm: "Are you sure"} %>
<% end %>

<% if @answer.errors.any? %>
  <ul>
    <% @answer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%# form_for @answer              --->  URL: /answers (answers_path)
                                        method: POST (if @answer is not persisted)   %>

<%# form_for [@question, @answer] ---> URL: /question/:question_id/answers (question_answers_path)
                                       method: POST %>

<%= form_for [@question, @answer] do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>

<h2>Answers</h2>
<% @question.answers.each do |answer| %>
  <p>
    <%= answer.body %> |
    Created By: <%= answer.user.full_name %> on
      <%= formatted_date(answer.created_at) %>
    <% if can? :destroy, answer  %>
      <%= link_to "Delete", question_answer_path(@question, answer), method: :delete,
                  data: {confirm: "Are you sure you want delete the answer?"} %>
    <% end %>
  </p>
  <hr>
<% end %>
