<!DOCTYPE html>
<html>
<head>
  <title>Codesnipper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav>
    <p>
      <p>View Our Full Library of Snippets</p>
      <% listcategory.each do |category| %>
      <%= link_to "#{category.name}", category_path(category)  %>
      <% end %>
    </p>

    <%= link_to "Create Snippet", new_snippet_path %> |
    <%= link_to "All Snippets", snippets_path %>


    <hr>
  </nav>



<%= yield %>

</body>
</html>
