<h2>All Ideas &nbsp; <%= link_to 'Create a New Idea', new_idea_path, class: "btn btn-success" %></h2>



<table>
  <tr>
    <th><h3>Idea &nbsp;</h3></th>
    <th><h4>Description &nbsp;</h4></th>
    <th colspan="2"></th>
  </tr>

  <% @ideas.each do |idea| %>
    <tr>
      <td><h4><%= idea.title %></h4></td>

      <td><%= idea.text %></td>
      <td><%= link_to 'Show', idea_path(idea), class: "btn btn-info" %> &nbsp;<%= link_to ' Edit', edit_idea_path(idea), class: "btn btn-info"  %> &nbsp;<%= link_to ' Destroy', idea_path(idea),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: "btn btn-info" %></td>

    </tr>
  <% end %>
</table>
