<h2>Sign Up</h2>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg|  %>
    <li> <% msg %> </li>
  </ul>
  <% end %>
<% end %>



<%= form_for @user, multiport: true do |f| %>

<div>
  <%= image_tag @user.image.url %>
</div>
<p>Attach an image:
    <%= f.file_field :image %>
</p>
<div>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>

<div>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>

<div>
  <%= f.label :email %>
  <%= f.email_field :email %>
</div>

<div>
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>
  <%= f.submit %>
<% end %>
