<h1> <%= @question.title %> </h1>

<p> <%= @question.body %></p>

<%= link_to "Edit" edit_question_path(@question) %>
<%= link_to "Delete" question_path(@question)
                      method: :delete, data: {confirm: 'Sure?'} %>

<%# form_for @answer -->              URL: /answers (answers_path)
                                      method: POST (if @answer is not persited )%>
<%# form_for [@question, @answer] --> URL:




<%= form_for [@question, @answer] do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
<% end %>

<h2>Answers</h2>

<% @question.answers.each do |answer|%>

  <p> <%= answer.body %> </p>

<% end %>
