<h2>Make a calculation</h2>

<form method="post" action="/addition">

  <input id="input" type="number" value=" <%= @add_first_number%> " name="add_first_number" style="width: 100px, height: 30px">
  +
  <input id="input" type="number" value=" <%= @add_second_number%> " name="add_second_number" style="width: 100px, height: 30px">
    <input type="submit" value="=">

  </form>

<form method="post" action="/subtraction">

  <input id="input" type="number" value=" <%= @subtract_first_number%> " name="subtract_first_number" style="width: 100px, height: 30px">
  -
  <input id="input" type="number" value=" <%= @subtract_second_number%> " name="subtract_second_number" style="width: 100px, height: 30px">
    <input type="submit" value="=">

</form>


<form method="post" action="/multiplication">

  <input id="input" type="number" value=" <%= @multiply_first_number%> " name="multiply_first_number" style="width: 100px, height: 30px">
  x
  <input id="input" type="number" value=" <%= @multiply_second_number%> " name="multiply_second_number" style="width: 100px, height: 30px">
    <input type="submit" value="=">

  </form>

<form method="post" action="/division">

  <input id="input" type="number" value=" <%= @divide_first_number%> " name="divide_first_number" style="width: 100px, height: 30px">
  /
  <input id="input" type="number" value=" <%= @divide_second_number%> " name="divide_second_number" style="width: 100px, height: 30px">
  <input type="submit" value="=">

</form>

<!-- Random picker -->

<h2>Random Number Winner</h2>

<form method="post" action="/random">
<input id="input" type="text" value=" <%= @random_input%> " name="random_input" style="width=200px, height: 100px">
<input type="submit" value="Pick at random">
<form>

  
