<!DOCTYPE html>
<html>
<head>
  <title>Awesome Answers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%# This "application" refers to the manifest file /app/assets/javascripts/applicat.js
      which in turns have instructions to include all the other files in the folder %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%# link_to is a Rails helper method that enables us to generate <a> tags
        root_path is a Rails URL/PATH helper that enables us to generate a route
        that we defiend in routes.rb  %>
    <%= link_to "Home", root_path %>
    |
    <%= link_to "About", about_path %>
    |
    <%#= link_to "Hello", hello_person_path("tam") %>
    <%= link_to "Hello", hello_person_path(name: "tam") %>
    |
    <%= link_to "Contact", contact_path %>
    |
    <%= link_to "Subscribe", subscribe_path %>
    |
    <%= link_to "All Questions", questions_path %>
    |
    <%= link_to "New Question", new_question_path %>

    <% if session[:user_id] %>
      <i class="glyphicon glyphicon-user"></i>
      Hello <%= current_user.full_name %>
      (<%= link_to "Edit", edit_users_path %>),
      <%= link_to "Logout", sessions_path, method: :delete,
               data: {confirm: "are you sure you want to log out?"}%>
    <% else %>
      <%= link_to "Login", new_session_path %> |
      <%= link_to "Sign Up", new_user_path %>
    <% end %>

    <hr>
    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
    <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
