<!DOCTYPE html>
<html>
<head>
  <title>AwesomeAnswers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Home", root_path %> |

<%= link_to "Newsletter", newsletter_path %> |

<%= link_to "About", about_path %> |

<%= link_to "Hello",
 hello_person_path(name: "Leah", city: "Vancouver") %> |

 <%= link_to "Contact", contact_path %>

<% #link_to is a Rails helper method that enables u to generate <a> tags. %>
<% #root_path is a Rails URL/PATH helper that enables us to generate a route that we defined in routes.rb %>


<%= yield %>

</body>
</html>
