<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%# @user is persisted: action: "/users/:id" PATCH -> update %>
<%# @user is NOT persisted: action: "/users" POST  -> create %>
<%= form_for @user, url: users_path do |f| %>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <% if @user.persisted? %>
      <p>You must enter the password for changed to take effect</p>
      <%= f.label :current_password %>
      <%= f.password_field :current_password %>
    <% end %>
  </div>
  <% if @user.persisted? %>
    <p>Leave empty to keep the password the same</p>
  <% end %>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit %>
<% end %>
