
<%= form_for :request, url: requests_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

<p>Which department do you wish to contact?</p>
  <p>
    <%= f.radio_button(:department, "Sales") %>
    <%= f.label(:department, "Sales")%>
  </p>

  <p>
    <%= f.radio_button(:department, "Marketing") %>
    <%= f.label(:department, "Marketing")%>
  </p>

  <p>
    <%= f.radio_button(:department, "Technical") %>
    <%= f.label(:department, "Technical")%>
  </p>

  <p>
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
