

  <nav><%= link_to 'New Request', new_request_path %></nav>
<hr>
<h1>All Support Requests</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Department</th>
    <th>Message</th>
  </tr>

  <% @requests.each do |request|  %>
    <tr>
      <td><%= request.name %></td>
      <td><a href="mailto:<%= request.email %>">Click to email them</a></td>
      <td><%= request.department %></td>
      <td><%= request.message %></td>
    <td><%= link_to 'Edit', edit_request_path(request) %></td>
    <td>&nbsp; | &nbsp;</td>
    <td><%= link_to 'Destroy', request_path(request),
              method: :delete,
              data: { confirm: 'Destroy for real?' } %></td>
    </tr>


  <% end %>
</table>
